.front {
	width: 100vw;
	height: 100vh;
	text-align: center;
	margin-top: 25%;
}

.front p {
    color: blanchedalmond;
    bottom: -10em;
    position: relative;
}
#gif {
	  height: 100vh;
    margin: 0px auto;
    width: 100vw;
}

.container {
	 scroll-snap-type: y mandatory;
}

img {
	scroll-snap-align: start;
}

body {
	background-color: black;
	margin: 0px;
}


    #triangle-right {
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-left: 100px solid red;
      border-bottom: 50px solid transparent;
          position: absolute;
    margin: 0% 50%;

    }
    div#triangle-right:hover {
    	border-left-color: beige;
    }
   
